 .about-grid {
  // background: teal;
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  'tl tr'
   'bl br';

   @media only screen and (max-width: 834px) {
    grid-template-columns: 1fr;
    grid-template-areas:
    'tl'
     'tr'
     'br'
      'bl';
   }
 }

 .sq-1 {
  grid-area: tl;
 }
 .sq-2 {
  grid-area: tr;
  padding-top: 45px;
  line-height: 1.75rem;

  @media only screen and (max-width: 1024px) {
    padding: 25px;
  }
  @media only screen and (max-width: 834px) {
    padding: 30px 15px 0 0;
  }
  
  @media only screen and (max-width: 531px) {
    padding: 5px 5px 0;
  }
 }
.sq-3 {
  grid-area: br;
}
.sq-4 {
  grid-area: bl;

  padding-top: 45px;
  padding-right: 25px;
  line-height: 2rem;

}

#sq {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
}

#about-img {
  border: solid 2px black;
}

 