 .about-grid {
  // background: teal;
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  'tl tr'
   'bl br';
   grid-gap: 50px 0px;

   @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas:
    'tl'
     'tr'
     'br'
      'bl';
   }
 }

 .sq-1 {
  grid-area: tl;
 }
 .sq-2 {
  grid-area: tr;
  padding-top: 65px;
  line-height: 2rem;
}
.sq-3 {
  grid-area: br;
  // background: teal;
}
.sq-4 {
  grid-area: bl;
  padding-top: 45px;
  padding-right: 25px;
  line-height: 2rem;

}

#sq {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
}

#about-img {
  border: solid 2px black;
}

 