footer {
//    background: gray;
//    border-top: solid 2px black;
   width: 100%;
   display: flex;
   justify-content: center; 
   align-items: flex-end;
   padding: 10px 0;
} 

.footer-container {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
}
 