#logo {
    text-transform: capitalize;
    font-size: 30px;
}

.construction {
color: black;
font-size: 18px;
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
  a {
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    font-size: 25px;
}
}


 