.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    position:absolute;
    top: 0;
    z-index: 100;

    a {
    text-decoration: none;
    color: #000;
    text-shadow: none;
    }
}
 
@media only screen and (max-width: 1024px) {
    .navbar {
        padding-top: 65px;
    }
}

@media only screen and (max-width: 531px) {
    .navbar .logo {
        font-size: 28px;
    }
}