.single-post-wrapper {
    width: 100%;
    padding: 200px 50px 0;
}

.single-post-container {
 display: flex;
 justify-content: center;
}

.single-post-title {
    padding: 5px 0 15px 0px;
    text-transform: capitalize;
}

.post-image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

//*
.single-post-img {
   border: solid 2px black;
}

@media only screen and (max-width: 834px) {
    .single-post-img {
        width: 700px;
     }
}

@media only screen and (max-width: 600px) {
    .single-post-img {
        width: 500px;
     }
}

@media only screen and (max-width: 531px) {
    .single-post-img {
        width: 350px;
     }
}

@media only screen and (max-width: 400px) {
    .single-post-img {
        width: 300px;
     }
}




//*
.post-content-container {
    padding: 50px 515px;
}

@media only screen and (max-width: 1024px) {
    .post-content-container {
        padding: 40px 70px;
    }
}

@media only screen and (max-width: 600px) {
    .post-content-container {
        padding: 20px;
    }
}

@media only screen and (max-width: 531px) {
    .post-content-container {
        padding: 20px 0;
    }
}